<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Ficha Detalle - Master Of Festivals</title>
    <link rel="icon" th:href="@{/logos/Logoico.jpg}" type="image/x-icon" /><!--icono .ico-->
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/><!--como insertamos fuente externa, 
	ya indicamos estilo en la hoja css, por eso no hace falta indicarlo aquí de nuevo-->
    <link rel="stylesheet" type="text/css" href="../static/css/css2/all.css" th:href="@{/css/css2/all.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0b13d6a16.js" crossorigin="anonymous"></script> <!-- iconos fb y twitter -->
	<script type="text/javascript" th:src="@{/js/master.js}"></script>
</head>

<body>
    <header>
        <a th:href="@{/usuario/index-usuario}"><img class="logo" alt="Logo_MasterOfFestivals" th:src="@{/logos/Logo.jpg}" /></a>
        
        <a th:href="@{/usuario/index-usuario}"><!--título-->
            <h1>Master Of Festivals</h1>
        </a>
        <!--login-->
         <div id="botonlogin">
        	<div id="logout">
        		<form th:action="@{/usuario/logout}" method="POST">
        			<button id="botonlogout" type="submit" value="Logout"> Logout </button>
        		</form>
        	</div>
        	
        	<p id="saludo">Hola, <b>[[${#request.userPrincipal.principal.username}]]</b>!</p>
        	
        </div>
        
        <div id="cabecera"><!--bienvenida-->
            <p>Bienvenidos a está página donde pretendo englobar todos los festivales del <b>género metal/rock</b> y derivados que existen a nivel europeo,
                independientemente del tamaño.</p>
            <p>Como todavía está en construcción, toda ayuda es bienvenida, por lo que si conocéis algún festival que no está incluido, me lo podéis comunicar
                en el enlace al formulario que encontraréis al final de la página. </p>
            <p class="importante"><b>¡Importante!</b> Los festivales están organizados por <b>género predominante</b>.</p>
            <p class="importante"><i>Obtendrás más información del festival clickando en el cartel.</i></p>
        </div>
    </header>
    
    <div id="sectorcrear">
        <div id="botoncrear">
            <a th:href="@{/admin/formulario}">
	            <button>
	                <span>Añade!</span>
	            </button>
	        </a>
        </div>
    </div>
 
    <nav class="nav_filtro"> <!--buscador y filtro fechas-->
        <div class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g>
                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804
                 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 
                 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
            </g></svg>
            <input placeholder="Búsqueda" type="search" class="input" id="buscador">
        </div>
    </nav>

    <aside id="lateral">
        <p class="listado">Géneros</p>
        <ul>
            <li><a href="index.html#metal">Metal</a></li>
            <li><a href="index.html#hardcore">Hardcore</a></li>
            <li><a href="index.html#punk">Punk</a></li>
            <li><a href="index.html#rock">Rock/Heavy Metal</a></li>
            <li><a href="index.html#death">Death Metal</a></li>
            <li><a href="index.html#stoner">Stoner</a></li>
        </ul>
        <p class="listado">Listado de países</p>
        <ul>
            <li><a href="listaalemania.html" target="_blank">Alemania</a></li>
            <li><a href="listaaustria.html" target="_blank">Austria</a></li>
            <li><a href="listabelgica.html" target="_blank">Bélgica</a></li>
            <li><a href="listaeslovenia.html" target="_blank">Eslovenia</a></li>
            <li><a href="listaespana.html" target="_blank">España</a></li>
            <li><a href="listafrancia.html" target="_blank">Francia</a></li>
            <li><a href="listaitalia.html" target="_blank">Italia</a></li>
            <li><a href="listaportugal.html" target="_blank">Portugal</a></li>
            <li><a href="listareinounido.html" target="_blank">Reino Unido</a></li>
            <li><a href="listarepublicacheca.html" target="_blank">República Checa</a></li>
        </ul>
    </aside>
    <article id="contenidoinfo">
        <section>
            <table id="info">
                <caption>Información</caption>
                <tr><!--modificar cartel para que tenga JS-->
                    <td rowspan="7"><img onclick="javascript:this.width=400;this.height=628" ondblclick="javascript:this.width=240;this.height=365" 
                    th:src="@{'/carteles/'} + ${festivales.cartel}" width="240" height="365" 
                    th:alt="'cartel_' + ${festivales.nombreFestival} +'_'+ ${#dates.format(festivales.fechaFin, 'yyyy')}" title="Haz click para ampliar imagen" /></td>
                </tr>
                <tr>
                    <td>Nombre:</td>
                    <!--  <td>981 United</td>-->
                    <td th:text="${festivales.nombreFestival}"></td>
                    
                </tr>
                <tr>
                    <td>Fecha inicio:</td>
                    <td th:text="${#dates.format(festivales.fechaInicio, 'dd-MM-yyyy')}"></td>
                </tr>
                 <tr>
                    <td>Fecha fin:</td>
                    <td th:text="${#dates.format(festivales.fechaFin, 'dd-MM-yyyy')}"></td>
                </tr>
                <tr>
                    <td>Localización:</td>
                    <td th:text="${festivales.lugar}"></td>
                    
                </tr>
                <tr>
                    <td>País</td>
                    <!--  <td>España</td>-->
                    <td th:text="${festivales.pais}"></td>
                </tr>
                <tr>
                    <td>Página web:</td>
                    <!--  <td><a href="https://981united.com/" class="link">https://981united.com/ </a></td>-->
                    <td> <a th:href="${festivales.url}" class="link" th:text="${festivales.url}"/></td> 
                    <!-- es necesario que tengan el http puesto , si no es necesario ponerlo a mano en la bbdd-->
                </tr>
            </table>
        </section>

    </article>


    <footer>
        <p class="pie">Si conoces algún festival o eres organizador de uno que no esté en la página, <a th:href="@{/usuario/formulario}" target="_blank"> añadelo!</a>.</p>
        <div class="iconos">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
        </div>
    </footer>
</body>

</html>