<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Master Of Festivals</title>
    <link rel="icon" th:href="@{/logos/Logoico.jpg}" type="image/x-icon" /><!--icono .ico-->
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/><!--como insertamos fuente externa, 
	ya indicamos estilo en la hoja css, por eso no hace falta indicarlo aquí de nuevo-->
    <link rel="stylesheet" type="text/css" href="../static/css/css2/all.css" th:href="@{/css/css2/all.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b0b13d6a16.js" crossorigin="anonymous"></script> <!-- iconos fb y twitter -->
</head>

<body>
    <header>
        <a th:href="@{/publico/index}"><img class="logo" alt="Logo_MasterOfFestivals" th:src="@{/logos/Logo.jpg}" /></a>
        
        <a th:href="@{/publico/index}"><!--título-->
            <h1>Master Of Festivals</h1>
        </a>
        <!--login-->
        <div id="botonlogin">
            <a th:href="@{/usuario/login}">
            	<button>
                	<span>Login</span>
            	</button>
            </a>
        </div>

        <div id="cabecera"><!--bienvenida-->
            <p>Bienvenidos a está página donde pretendo englobar todos los festivales del <b>género metal/rock</b> y derivados que existen a nivel europeo,
                independientemente del tamaño.</p>
            <p>Como todavía está en construcción, toda ayuda es bienvenida, por lo que si conocéis algún festival que no está incluido, me lo podéis comunicar
                en el enlace al formulario que encontraréis al final de la página. </p>
            <p class="importante"><b>¡Importante!</b> Los festivales están organizados por <b>género predominante</b>.</p>
            <p class="importante"><i>Obtendrás más información del festival clickando en el cartel.</i></p>
        </div>
    </header>
 
    <nav class="nav_filtro"> <!--buscador y filtro fechas-->
        <div class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g>
                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804
                 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 
                 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
            </g></svg>
            <input placeholder="Búsqueda" type="search" class="input">
        </div>
    </nav>

    <aside id="lateral">
        <p class="listado">Géneros</p>
        <ul>
            <li><a href="#metal">Metal</a></li>
            <li><a href="#hardcore">Hardcore</a></li>
            <li><a href="#punk">Punk</a></li>
            <li><a href="#rock">Rock/Heavy Metal</a></li>
            <li><a href="#death">Death Metal</a></li>
            <li><a href="#stoner">Stoner</a></li>
        </ul>
        <p class="listado">Listado de países</p>
        <ul>
            <li><a href="listaalemania.html" target="_blank">Alemania</a></li>
            <li><a href="listaaustria.html" target="_blank">Austria</a></li>
            <li><a href="listabelgica.html" target="_blank">Bélgica</a></li>
            <li><a href="listaeslovenia.html" target="_blank">Eslovenia</a></li>
            <li><a href="listaespana.html" target="_blank">España</a></li>
            <li><a href="listafrancia.html" target="_blank">Francia</a></li>
            <li><a href="listaitalia.html" target="_blank">Italia</a></li>
            <li><a href="listaportugal.html" target="_blank">Portugal</a></li>
            <li><a href="listareinounido.html" target="_blank">Reino Unido</a></li>
            <li><a href="listarepublicacheca.html" target="_blank">República Checa</a></li>
        </ul>
    </aside>
    <article id="contenido">
        <section class="cabecera">
            <a name="metal">METAL</a>
        </section>
        <section class="cartelinfo">
	        <th:block th:each="festmetal : ${festmetal}" >
	            <article class="festival">
	            	<table class="general">
	                    <tr>
	                        <td> 
	                            <a th:href="@{/publico/ficha-detalle/{id}(id=${festmetal.idfestival})}"><img class="cartel"
	                            th:alt="'cartel_' + ${festmetal.nombreFestival} +'_'+ ${#dates.format(festmetal.fechaFin, 'yyyy')}" th:src="@{'/carteles/'} + ${festmetal.cartel}" /></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td th:text="${festmetal.nombreFestival}"></td>
	                    </tr>
	                    <tr>
	                        <td th:text="${#dates.format(festmetal.fechaInicio, 'dd-MM') + '/' + #dates.format(festmetal.fechaFin, 'dd-MM-yyyy')}"></td>
	                    </tr>
	                    <tr>
	                        <td th:text="${festmetal.lugar} + ' - (' + ${festmetal.pais} + ')'"></td> 
	                   	</tr>    
	                </table>
	            </article>
	        </th:block>
        </section>

        <section class="cabecera">
            <a name="hardcore">HARDCORE</a>
        </section>
        <section class="cartelinfo">
        	<th:block th:each="festhardcore : ${festhardcore}" >
	           	<article class="festival">
	               <table class="general">
	                   <tr>
	                   		<td>
	                           <a th:href="@{/publico/ficha-detalle/{id}(id=${festhardcore.idfestival})}"><img class="cartel" 
	                           th:alt="'cartel_' + ${festhardcore.nombreFestival} +'_'+ ${#dates.format(festhardcore.fechaFin, 'yyyy')}" th:src="@{'/carteles/'} + ${festhardcore.cartel}" /></a>
	                        </td>
	                   </tr>
	                   <tr>
	                        <td th:text="${festhardcore.nombreFestival}"></td>
	                   </tr>
	                   <tr>
	                        <td th:text="${#dates.format(festhardcore.fechaInicio, 'dd-MM') + '/' + #dates.format(festhardcore.fechaFin, 'dd-MM-yyyy')}"></td>
	                   </tr>
	                   <tr>
	                        <td th:text="${festhardcore.lugar} + ' - (' + ${festhardcore.pais} + ')'"></td> 
	                   </tr>   
	               </table>
	           	</article>
             </th:block>
        </section>
        
        <section class="cabecera">
            <a name="punk">PUNK</a>
        </section>
        <section class="cartelinfo">
        	<th:block th:each="festpunk : ${festpunk}" >
	            <article class="festival">
	                <table class="general">
	                    <tr>
	                        <td>
	                            <a th:href="@{/publico/ficha-detalle/{id}(id=${festpunk.idfestival})}"><img class="cartel" 
	                            th:alt="'cartel_' + ${festpunk.nombreFestival} +'_'+ ${#dates.format(festpunk.fechaFin, 'yyyy')}" th:src="@{'/carteles/'} + ${festpunk.cartel}" /></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td th:text="${festpunk.nombreFestival}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${#dates.format(festpunk.fechaInicio, 'dd-MM') + '/' + #dates.format(festpunk.fechaFin, 'dd-MM-yyyy')}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${festpunk.lugar} + ' - (' + ${festpunk.pais} + ')'"></td> 
	                   	</tr> 
	                </table>
	            </article>
            </th:block>
        </section>

        <section class="cabecera">
            <a name="rock">ROCK/HEAVY METAL</a>
        </section>
        <section class="cartelinfo">
        	<th:block th:each="festrock : ${festrock}" >
	            <article class="festival">
	                <table class="general">
	                    <tr>
	                        <td>
	                            <a th:href="@{/publico/ficha-detalle/{id}(id=${festrock.idfestival})}"><img class="cartel" 
	                            th:alt="'cartel_' + ${festrock.nombreFestival} +'_'+ ${#dates.format(festrock.fechaFin, 'yyyy')}" th:src="@{'/carteles/'} + ${festrock.cartel}" /></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td th:text="${festrock.nombreFestival}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${#dates.format(festrock.fechaInicio, 'dd-MM') + '/' + #dates.format(festrock.fechaFin, 'dd-MM-yyyy')}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${festrock.lugar} + ' - (' + ${festrock.pais} + ')'"></td> 
	                   	</tr>  
	                </table>
	            </article>
             </th:block>
        </section>

        <section class="cabecera">
            <a name="death">DEATH METAL</a>
        </section>
        <section class="cartelinfo">
        	<th:block th:each="festdeath : ${festdeath}" >
	            <article class="festival">
	                <table class="general">
	                    <tr>
	                        <td>
	                            <a th:href="@{/publico/ficha-detalle/{id}(id=${festdeath.idfestival})}"><img class="cartel" 
	                            th:alt="'cartel_' + ${festdeath.nombreFestival} +'_'+ ${#dates.format(festdeath.fechaFin, 'yyyy')}" th:src="@{'/carteles/'} + ${festdeath.cartel}" /></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td th:text="${festdeath.nombreFestival}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${#dates.format(festdeath.fechaInicio, 'dd-MM') + '/' + #dates.format(festdeath.fechaFin, 'dd-MM-yyyy')}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${festdeath.lugar} + ' - (' + ${festdeath.pais} + ')'"></td> 
	                   	</tr> 
	                </table>
	            </article>
             </th:block>
        </section>

        <section class="cabecera">
            <a name="stoner">STONER</a>
        </section>
        <section class="cartelinfo">
        	<th:block th:each="feststoner : ${feststoner}" >
	            <article class="festival">
	                <table class="general">
	                    <tr>
	                        <td>
	                            <a th:href="@{/publico/ficha-detalle/{id}(id=${feststoner.idfestival})}"><img class="cartel" 
	                            th:alt="'cartel_' + ${feststoner.nombreFestival} +'_'+ ${#dates.format(feststoner.fechaFin, 'yyyy')}" th:src="@{'/carteles/'} + ${feststoner.cartel}" /></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td th:text="${feststoner.nombreFestival}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${#dates.format(feststoner.fechaInicio, 'dd-MM') + '/' + #dates.format(feststoner.fechaFin, 'dd-MM-yyyy')}"></td>
	                   	</tr>
	                   	<tr>
	                        <td th:text="${feststoner.lugar} + ' - (' + ${feststoner.pais} + ')'"></td> 
	                   	</tr> 
	                </table>
	            </article>
             </th:block>
        </section>

    </article>


    <footer>
        <p class="pie">Si conoces algún festival o eres organizador de uno que no esté en la página, <a th:href="@{/registro/registro-usuario}" target="_blank">registrate</a> y añadelo!.</p>
        <div class="iconos">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
        </div>
    </footer>
</body>

</html>