<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Login - Master Of Festivals</title>
    <link rel="icon" th:href="@{/logos/Logoico.jpg}" type="image/x-icon" /><!--icono .ico-->
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/><!--como insertamos fuente externa, 
	ya indicamos estilo en la hoja css, por eso no hace falta indicarlo aquí de nuevo-->
    <link rel="stylesheet" type="text/css" href="../static/css/css2/all.css" th:href="@{/css/css2/all.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0b13d6a16.js" crossorigin="anonymous"></script> <!-- iconos fb y twitter -->
</head>

<body id="cuerpo_login">

<p>Login <a th:href="@{/admin/login}">admin </a> </p>
   
    <div id="formularioLogin">
	    <form th:action="@{/usuario/login}"method="POST">
	    <!-- <form th:action="@{/usuario/login}" th:object="${usuario}" method="POST"> -->
	    
	        <h3>Inicia sesión</h3>
	        
	        <div th:if="${param.error}">
	        	<h4>[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
	        </div>
	
	        <label for="email">Email</label>
	        <input placeholder="Email" type="email" name="email" maxlength="40" id="email" required="required">
			<!--<input placeholder="Email" type="email" name="email" th:field="${usuario.email}" maxlength="40" id="email" required="required"> -->
	        
	        
	        <label for="password">Contraseña</label>
	        <input placeholder="Contraseña" type="password" name="password" maxlength="40" id="password" required="required">
		<!--<input placeholder="Contraseña" type="password" name="email" th:field="${usuario.password}" maxlength="40" id="password" required="required"> -->
			
	        <button type="submit" id="boton_login" name="enviar">Log In</button>
	        
	        <p class="lineaLogin">Si no estás registrado, hazlo <a th:href="@{/registro/registro-usuario}">aquí</a></p>
	    
	    </form>
	</div>

</body>

</html>