<!-- <!DOCTYPE html> -->
<!-- <html lang="es-ES" xmlns:th="http://www.thymeleaf.org"> -->

<!-- <head> -->
<!--     <meta charset="utf-8" /> -->
<!--     <title>Login - Master Of Festivals</title> -->
<!--     <link rel="icon" th:href="@{/logos/Logoico.jpg}" type="image/x-icon" />icono .ico -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>como insertamos fuente externa, 
<!-- 	ya indicamos estilo en la hoja css, por eso no hace falta indicarlo aquí de nuevo--> <!---->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/css2/all.css" th:href="@{/css/css2/all.css}"/> -->
<!--     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> -->
<!--     <script src="https://kit.fontawesome.com/b0b13d6a16.js" crossorigin="anonymous"></script> iconos fb y twitter -->
<!-- </head> -->

<!-- <body id="cuerpo_login"> -->
    
<!--     <div th:if=${param.exito}> -->
<!--     	<div class="exito">Usuario registrado correctamente! Haz <a th:href="@{/usuario/login}">log in </a>para acceder</div> -->
<!--     </div> -->
    
<!--     <div id="formularioLogin"> -->
<!-- 	    <form th:action="@{/registro/usuario-creado}" th:object="${usuario}" method="POST"> cambiar action a usuario creado correctamente -->
<!-- 	        <h3>Registro</h3> -->
	        
<!-- 	        <label for="nombreusuario">Nombre: *</label> el th:field es nombre variable entidad -->
<!--             <input placeholder="Nombre" type="text" name="nombreusuario" th:field="${usuario.nombreUsuario}" maxlength="40" id="nombreusuario" required="required"> -->
               
<!-- 	        <label for="email">Email: *</label> -->
<!-- 	        <input placeholder="Email" type="email" name="email" th:field="${usuario.email}" maxlength="40" id="email" required="required"> -->
	        
<!-- 	        <label for="password">Contraseña: *</label> -->
<!-- 	        <input placeholder="Contraseña" type="password" name="password" th:field="${usuario.password}" maxlength="40" id="password" required="required"> -->
	
<!-- 	        <button type="submit" id="boton_login" name="enviar">Crear usuario</button> -->
	        
	    
<!-- 	    </form> -->
<!-- 	</div> -->
   
<!-- </body> -->

<!-- </html>   -->

<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Login - Master Of Festivals</title>
    <link rel="icon" th:href="@{/logos/Logoico.jpg}" type="image/x-icon" /><!--icono .ico-->
    <link rel="stylesheet" type="text/css" href="estilos.css" th:href="@{/css/estilos.css}"/><!--como insertamos fuente externa, 
	ya indicamos estilo en la hoja css, por eso no hace falta indicarlo aquí de nuevo-->

    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0b13d6a16.js" crossorigin="anonymous"></script> <!-- iconos fb y twitter -->
    <script type="text/javascript" th:src="@{/js/master.js}"></script>
</head>

<body id="cuerpo_login">
   
    <div th:if=${param.exito}>
    	<div th:if=${param.exito} class="exito">Usuario registrado correctamente! Haz <a th:href="@{/usuario/login}">log in </a>para acceder</div>-->
    </div>
 
    <div id="formularioLogin">
        
	    <form th:action="@{/registro/usuario-creado}" th:object="${usuario}" method="POST"> <!-- cambiar action a usuario creado correctamente -->
	        <h3>Registro</h3>
	        
	        <label for="nombreusuario">Nombre: *</label> <!-- el th:field es nombre variable entidad -->
            <input placeholder="Nombre" type="text" name="nombreusuario"  th:field="${usuario.nombreUsuario}" maxlength="40" id="nombreusuario" required="required">
            <div id="errorNombre" class="error"></div>
               
	        <label for="email">Email: *</label>
	        <input placeholder="Email" type="email" name="email" th:field="${usuario.email}" maxlength="40" id="email" required="required">
            <div id="errorEmail" class="error"></div>
	        
	        <label for="password">Contraseña: *</label>
	        <input placeholder="Contraseña" type="password" name="password" th:field="${usuario.password}" maxlength="40" id="password" required="required">
            <div id="errorPassword" class="error"></div>
	
	        <button type="submit" id="boton_login" name="enviar">Crear usuario</button>
	        
	    
	    </form>

	</div>

    
   
</body>

</html>